<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-->
  <ion-card *ngFor="let quote of quotes; let i = index" class="animated bounceInRight" [ngStyle]="{'animation-delay': addDelay(i)}">
    <ion-card-header>
      #{{i+1}}
    </ion-card-header>
    <ion-card-content>
      <p>{{quote.text}}</p>
      <p class="author">{{quote.person}}</p>
    </ion-card-content>
  </ion-card>
  <-->

    <ion-list>
      <ion-item-sliding *ngFor="let quote of quotes; let i = index">
        <!-->
        <ion-item (click)="onViewQuote(quote)" [color]="getBackground()">
          <-->
            <ion-item (click)="onViewQuote(quote)" color="quoteBackground" [ngClass]="{alt: isAltBackground()}">
              <div class="animated bounceInRight" [ngStyle]="{'animation-delay': addDelay(i)}">
                <h2>{{quote.person}}</h2>
                <p>{{quote.text}}</p>
              </div>
            </ion-item>
            <ion-item-options>
              <button ion-button color="danger" class="animated fadeIn" [ngStyle]="{'animation-delay': addDelay(i)}" (click)="onRemoveFromFavorites(quote)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>